main
{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 8%;
    max-width: 370px;
    margin-top: 5%;
}

#titulos
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

#insercao
{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.inputs
{
    padding: 10px;
    border-radius: 5px;
    border-color: #E2E8F0;
    border-style: solid;
}

#logar
{
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    background-color: #7C3AED;
    color: white;
    border-style: none;
    font-size: 15px;
    font-weight: 500;
}

#rightImage
{
    position: relative;
    float: right;
    width: 750px;
    height: 713px;
    background-color: #7C3AED;
}